.profile_main_tab_route {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f1f1f6;
}

.profile_wallet_tab_route {
  position: fixed;
  top: 112px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f1f1f6;
}

.profile_wallet_coin {
  // position: fixed;
  // top: 128px;
  // left: 0;
  // right: 0;
  // z-index: 10;
  display: flex;
  justify-content: center;
}
