@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Thin.woff2") format("woff2"), url("IRANSansXFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-UltraLight.woff2") format("woff2"), url("IRANSansXFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Light.woff2") format("woff2"), url("IRANSansXFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Regular.woff2") format("woff2"), url("IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Medium.woff2") format("woff2"), url("IRANSansXFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-DemiBold.woff2") format("woff2"), url("IRANSansXFaNum-DemiBold.woff") format("woff");
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Bold.woff2") format("woff2"), url("IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-ExtraBold.woff2") format("woff2"), url("IRANSansXFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: fallback;
}

@font-face {
  font-family: "IRANSans";
  src: url("IRANSansXFaNum-Black.woff2") format("woff2"), url("IRANSansXFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-display: fallback;
}
