.modal__container {
  background-image: linear-gradient(293.8deg, #edeef2 0%, #f2f3f6 118.73%);
  border-radius: 10px;
  overflow: hidden;
  pointer-events: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
