.order_active_card_container {
  background-image: linear-gradient(293.8deg, #edeef2 0%, #f2f3f6 118.73%);
  box-shadow: -3px -3px 20px #ffffff, 2px 2px 14px rgba(36, 65, 93, 0.33);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.order_active_card_image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-position: center;
  object-fit: cover;
}
