.drawer {
  position: relative;
  background-image: linear-gradient(167.51deg, #f8f8fc -23.83%, #e1e2e8 81.74%) !important;
}

.drawer_gradient {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(0, 0, 0, 0.497733) 100%);
  height: 178px;
  width: 100%;
}

.drawer_coin_container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(293.8deg, #edeef2 0%, #f2f3f6 118.73%),
    linear-gradient(293.8deg, #edeef2 0%, #f2f3f6 118.73%);
  box-shadow: -3px -3px 20px #ffffff, 2px 2px 14px rgba(36, 65, 93, 0.33);
  padding: 4px 3px;
  border-radius: 50px;
  margin-left: 10px;
}
