.home_ads_card_container {
  background-image: linear-gradient(310.59deg, #f2f3f6 3.8%, #e5e6ec 119.99%);
  box-shadow: -2px -2px 14px #ffffff, 2px 2px 14px rgba(36, 65, 93, 0.302);
  border-radius: 12px;
  overflow: hidden;
  margin: 18px 0;
}

.home_ads_card_container_horizontal {
  min-width: 270px;
  margin-left: 10px;

  &:first-child {
    margin-right: 20px;
  }

  @media (min-width: 340px) {
    min-width: 300px;
  }
  @media (min-width: 420px) {
    min-width: 360px;
  }
}

.moreBtn {
  background: linear-gradient(90.93deg, #e5e6ec 0%, #f2f3f6 100%);
  box-shadow: 3px 3px 20px #c9c9c9;
  border-radius: 6px;
  padding: 4px 8px;
}
