.restaurant_detail_card {
  width: 100%;
  display: flex;
  padding: 10px;
  background-image: linear-gradient(310.59deg, #f2f3f6 3.8%, #e5e6ec 119.99%);
  box-shadow: -3px -3px 20px #ffffff, 2px 2px 14px rgba(36, 65, 93, 0.33);
  border-radius: 16px;
}

.restaurant_detail_card_minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: -4px -4px 5px #ffffff inset, 2px 2px 8px rgb(36 65 93 / 45%) inset;
}
