.bottom_navigation_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e1e2e8;

  &:after {
    position: absolute;
    content: " ";
    width: 50%;
    height: 1.2px;
    top: -1px;
  }
}

.bottom_navigation_container_restaurant {
  &:after {
    background-image: linear-gradient(270deg, rgba(255, 122, 0, 0) 0%, #ff5c01 50.62%, rgba(255, 122, 0, 0) 100%);
  }
}

.bottom_navigation_container_supermarket {
  &:after {
    background-image: linear-gradient(270deg, rgba(6, 111, 170, 0) 0%, #066faa 50.62%, rgba(6, 111, 170, 0) 100%);
  }
}
