.restaurant_order_rate_description {
  background-image: linear-gradient(274.88deg, #f2f3f6 0%, #e5e6ec 190.36%),
    linear-gradient(91.28deg, #dfdfdf -92.85%, rgba(217, 217, 217, 0) 100%);
  border-radius: 10px;
  box-shadow: -4px -4px 5px #ffffff inset, 2px 2px 8px rgb(36 65 93 / 45%) inset;
  border: none;
  resize: none;
  padding: 10px;

  &:focus {
    box-shadow: -4px -4px 5px #ffffff inset, 2px 2px 8px rgb(36 65 93 / 45%) inset;
  }
}
