.sizeScreen {
  @apply mx-4;
}

.template {
  background-image: linear-gradient(167.51deg, #f8f8fc -23.83%, #e1e2e8 81.74%);
}
.template:after,
.template:before {
  display: table;
  content: " ";
}

* {
  -webkit-tap-highlight-color: transparent;
}
