.supermarket_btn {
  & > div {
    display: none;
  }

  &:not(:disabled):active {
    color: #005691 !important;
    //border-color: #005691 !important;
  }

  &:not(:disabled):hover {
    color: #2089c4 !important;
    //border-color: #2089C4 !important;
  }
}

.supermarket_btn_change_border {
  &:not(:disabled):active {
    border-color: #005691 !important;
  }

  &:not(:disabled):hover {
    border-color: #2089c4 !important;
  }
}
