@import "src/styles/utils/variables";

.supermarket_btn {
  &:not(:disabled):active {
    color: #ff5c01 !important;
  }

  &:not(:disabled):hover {
    color: #ff5c0111 !important;
  }
}

.supermarket_btn_change_border {
  &:not(:disabled):active {
    border-color: #ff5c01 !important;
  }

  &:not(:disabled):hover {
    border-color: #ff5c0111 !important;
  }
}

.supermarket-spin {
  & .ant-spin-dot-item {
    background-color: $primarySupermarket;
  }
}
