:root {
  --swiper-theme-color: #575f6b !important;
}

.restaurant_product_detail_swiper {
  & .swiper-slide {
    transition: transform linear 300ms;
  }

  & .swiper-slide.swiper-slide-active {
    transform: scale(1);
  }

  & .swiper-slide {
    transform: scale(0.8);
  }
}
